
.carouselFotos {
  text-align: center;
}
 
.slides .slick-prev,
.slides .slick-next {
  position: absolute;
  top: 50%;
  z-index: 1;
}


.slides {
  position: absolute;
  width: 50%;
}

.slides .slick-prev,
.slides .slick-next {
  position: absolute;
  top: 50%;
  z-index:1;
}

.slides .slick-prev {
  left: 5%;

}

.slides .slick-next {
  right: 5%;
}

.slick-prev:before,
.slick-next:before {
    color: red !important;
}


