section{
    display: flex;
    justify-content: space-between;
    background-image: url(../../assets/fondo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.imagen{
    width: 40%;
    margin-top: 20px;
    padding: 10px;
    box-sizing: border-box;
}
.imgW{
    width: 90%;
}
.principal{
    width: 50%;
}

.titulo{
    width: 50%;
    font-size: 40px;
    margin-top: 20px;
    border-bottom: 3px solid #F5AF19;
}

.texto{
    width: 90%;
    margin-top: 20px;
    font-size: 20px;
}

